section.intro {
  position: relative;
  height: 200svh;
}

section.intro>.background,
section.intro>.foreground {
  position: absolute;
  width: 100%;
  height: 200svh;
}

section.intro .frame {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

section.intro>.background>.frame {
  display: grid;
  place-items: center;
}

section.intro>.background>.frame>.motion {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  background-color: #212121;
  background-size: 10svw 10svw;
  background-position: 50% 50%;
  border: 2px solid var(--color-secondary);
  background-image: linear-gradient(to bottom, #ddd1 2%, transparent 2%),
    linear-gradient(to left, #ddd1 2%, transparent 2%);
}

section.intro>.background>.frame>.motion svg {
  transform: translateY(4%);
}

section.intro>.foreground>.frame {
  padding-top: var(--uxlarge);
  padding-inline: var(--ularge);
  display: grid;
  overflow-x: hidden;
  place-items: center;
  align-content: center;
}

section.intro>.foreground .wave-text {
  color: var(--color-white);
  font-size: var(--font-medium);
  text-align: center;
}

section.intro>.foreground .wave-text>span {
  color: var(--color-secondary);
  font-weight: 800;
}

section.intro>.foreground .main-title {
  margin-bottom: var(--ularge);
  color: transparent;
  font-size: var(--font-xxlarge);
  font-weight: 800;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, var(--color-ternary) 0%, var(--color-ternary) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
  background-clip: text;
  background-position: 50% 50%;
}

section.intro>.foreground .subtitle {
  color: var(--color-white);
  font-size: var(--font-small);
  text-align: center;
}

section.intro>.foreground .cta-button {
  padding: var(--usmaller);
  margin-top: var(--ularge);
  color: var(--color-white);
  font-size: var(--font-smaller);
  background-color: var(--color-secondary);
  border: none;
  border-radius: var(--usmaller);
}

@media (width < 1441px) {}

@media(width < 769px) {
  section.intro>.foreground .main-title {
    font-size: var(--font-xlarge);
  }

  section.intro>.background>.frame>.motion {
    justify-content: flex-end;
  }
}

@media(width < 426px) {}

@media (orientation: portrait) {
  section.intro>.background>.frame>.motion {
    background-size: 10svh 10svh;
  }
}

@media (orientation: landscape) {
  section.intro>.background>.frame>.motion {
    background-size: 10svw 10svw;
  }
}