 /* Extra Features */
 .extra-features {
    display: flex;
    justify-content: space-between;
    gap: var(--umedium);
    padding:  var(--umedium) var(--umedium);
    background: #1a1a1a;
    border-radius: var(--usmall);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin: var(--umedium) auto;
    max-width: calc(var(--uxxlarge)*8);
  }
  
  .extra-features .feature {
    flex: 1;
    text-align: center;
    padding:var(--umedium);
    background: #2d2d2d;
    border-radius: var(--usmall);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--color-white);
  }
  
  .extra-features .feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(168, 124, 255, 0.4); /* Purple glow */
  }
  
  .extra-features button {
    margin-top: var(--usmall);
    padding: var(--usmaller) var(--usmall);
    background: var(--color-secondary);
    color: var(--color-white);
    border: none;
    border-radius: var(--uxsmall);
    font-size: var(--font-smaller);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }
  
  .extra-features button:hover {
    background: var(--color-secondary);
    transform: scale(1.05);
  }